<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" animated (ionChange)="buscadorItem($event)">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <!--<ion-list *ngIf="permission">-->
    <ion-list-header></ion-list-header>
    <ion-item *ngFor="let list of buscarList" (click)="mostrarModal(list)"><!--Cmabiamos "users" por searchUser porqye ahora hacemos la busqueda con searchUser-->
      <ion-label>
        <h2>{{list.title}}</h2>
        <p></p>
      </ion-label>
    </ion-item>
  <!--</ion-list>-->
</ion-content>
